node_modules
dist
dist-ssr
.local

# local env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# tsc build info
*.tsbuildinfo

# supabase
supabase/.branches
supabase/.temp
supabase/.env
